<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ChaoYanIpc.Properties.Settings.testConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\test.accdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="Database" value="ChaoYanIpc" />
    <add key="BackUpPath" value="C:\拧螺丝数据库\" />
    <add key="LastBackUpTime" value="2015-6-16" />
    <add key="IsRegistered" value="true" />
      <add key="COM_LEFT" value="COM2" />
      <add key="COM_RIGHT" value="COM1" />
    <add key="Type01" value="ZD1236C" />
    <add key="Type02" value="ZD1236A" />
    <add key="Type03" value="未定义" />
    <add key="Type04" value="未定义" />
    <add key="Type05" value="未定义" />
    <add key="Type06" value="未定义" />
    <add key="Type07" value="未定义" />
    <add key="Type08" value="未定义" />
    <add key="Type01backup" value="ZD1236C" />
    <add key="Type02backup" value="ZD1236A" />
    <add key="Type03backup" value="未定义" />
    <add key="Type04backup" value="未定义" />
    <add key="Type05backup" value="未定义" />
    <add key="Type06backup" value="未定义" />
    <add key="Type07backup" value="未定义" />
    <add key="Type08backup" value="未定义" />

    <add key="BackUpPath1" value="C:\拧螺丝数据库\" />
    <add key="LastBackUpTime1" value="2017-7-16" />
    <add key="IsRegistered1" value="true" />
      <add key="COM_LEFT1" value="COM2" />
      <add key="COM_RIGHT1" value="COM1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  
    
    
  
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>